body{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: url('imagenes22/fondo\ pagina.png') center/cover no-repeat fixed;
    /* Ajusta la ruta de la imagen de fondo y otros estilos según tus necesidades */
  
}
.bloque{
    display: flex;
    flex-wrap: wrap;
}
.card{
    flex-grow: 1;
    flex-basis: 200;
    width: 300px;
    height: 350px;
  background-color: black;
    margin: 5px;
    color: rgb(255, 255, 255);
    position: relative;

}

